<p id="notice"><%= notice %></p>

<p>
  <strong>Task:</strong>
  <%= @task_manager.task %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @task_manager.detail %>
</p>

<%= link_to 'Edit', edit_task_manager_path(@task_manager) %> |
<%= link_to 'Back', task_managers_path %>
